@page "/"
@inject F1.Web.Services.IUserSession UserSession

<PageTitle>Home</PageTitle>

<h1>Hello, @DisplayName!</h1>

Welcome to your new app.

@code {
	private string DisplayName
	{
		get
		{
			if (!string.IsNullOrWhiteSpace(UserSession.User?.Name))
			{
				return UserSession.User!.Name!;
			}

			var email = UserSession.User?.Email;
			if (!string.IsNullOrWhiteSpace(email))
			{
				var atIndex = email.IndexOf('@');
				var localPart = atIndex > 0 ? email[..atIndex] : email;
				if (!string.IsNullOrWhiteSpace(localPart))
				{
					return localPart;
				}
			}

			return "Driver";
		}
	}
}
